<!DOCTYPE html>
<html ng-app="mdx" ng-controller="MainController">
  <head>
    <meta charset="UTF-8">
   
    <title>Ground Station</title>
    <link rel="stylesheet" href=".././css/normalize.css">
	<link rel="stylesheet" type="text/css" href=".././css/loading.css">
	<script src=".././js/modernizr-2.6.2.min.js"></script>
	<style type="text/css">
	
  </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link  href=".././css/prism.css" rel="stylesheet" type="text/css" />
    <link  href=".././css/style.css" rel="stylesheet" type="text/css" />
   
  
    <link rel="stylesheet" type="text/css" href=".././css/font-awesome.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABz5AGVYM0nQs4bguxbgOjtT2c5dePhM8&libraries=geometry" ></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.3.1.min.js" integrity="sha256-F+wfFu+siTub2Ju6XxPLHgv5OL3Jzs5srj7Xfxj6b9c=" crossorigin="anonymous"></script>
 
    <style>
        html, body {
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          background-color:#343a40;
          overflow-y: auto;
    position:fixed;
        }
        #map {

         
          
          margin-top:3%;
          height: 60%;
          width: 100%;
          opacity: 0.8;
          ;
        }
        .g1 {
         
       padding-left: 2%;
        }
        .g2{
          padding-left: 2%;
          padding-bottom: 5%;
        }
     .gg{
       padding-left: 2%;
       padding-right: 2%;
     }
     #ss{
    
       width: 100%;
      
     }
     #nbar{
     
     }
     .my-custom-scrollbar {
 height :max-content;
overflow: scroll;
}
.table-wrapper-scroll-y {
display: block;

}
      </style>
       <nav id="nbar"   class="navbar fixed-top navbar-expand-sm bg-dark">

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="/dash"><b>Flight Navigation</b> <img src="./icons/fg.png"  width="23" height="23"></a>      
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/propulsion"><b>Propulsion System</b> <img src="./icons/prop2.png"  width="25" height="25"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dash"><b>Mechanics</b> <img src="./icons/mech.png"  width="23" height="23"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dash"><b>Configuration</b> <img src="./icons/conf.png"  width="23" height="23"></a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link  disabled" href="/planner"><b>Planner </b><img src="./icons/planner.png"  width="23" height="23"></a>
            </li>
    <li class="nav-item">
      <a class="nav-link" href=""><b>(Datalink)=</b></a>
    </li> 
            <li  id="linksel" class="nav-item">
              <div class="form-group">
                <select ng-change="linkchange(datalink)" ng-disabled="linkdn" ng-model="datalink" class="form-control" id="sel1">
                  <option>Gateway</option>
                  <option>Serial</option>
                </select>
              </div>
            </li>
            &nbsp;
            <li ng-show="slisten" class="nav-item">
                <a class="nav-link" href=""><b>(Speed)=</b></a>
              </li> 
            <li  id="linksel2" ng-show="slisten"  class="nav-item">
              <div class="form-group">
                <select  ng-model="dataport"   ng-disabled="linkdn" class="form-control"  id="sel2">
                  <option >9600</option>
                  <option>19200</option>
                  <option>38400</option>
                  <option>57600</option>
                  <option>115200</option>
                  <option>230400</option>
                  <option>250000</option>
                </select>
              </div>
            </li>
            &nbsp;
            <li style="float: right" class="nav-item">
            <input class="form-control" ng-disabled="linkdn" id="linkpath" placeholder="Enter url or serial port" ng-model="linkpath">
            </li>
          <li class="nav-item">&nbsp;<button ng-disabled="conStatus" class="{{btnC}}" ng-click="connect(linkpath,datalink)"><b>{{btnStatus}}</b></button></li>
          </ul>
               
        </nav>
      
  </head>
  <body  class="demo">
      <div id="map"></div>
  	<div  id="loader-wrapper">
			<div id="loader"></div>

			<div  class="loader-section section-left"></div>
            <div  class="loader-section section-right"></div>

    </div>

<span>

    <table id="ss" class="table table-striped table-bordered  table-dark">
        <thead >
 
            <tr>
                <th scope="col"><b style="color:#D72"></b> <button class="btn btn-success" ng-click="uploadMission()"><b>Upload Mission</b></button> &nbsp;&nbsp;
                   <button class="btn btn-warning"  ng-click="downloadMission()" >Download Mission</button> &nbsp;&nbsp; 
                   <button ng-click="exportMission()"; class="btn btn-info">Export Mission</button> &nbsp;&nbsp; 
                   <button ng-click="randomMission()"; class="btn btn-info">Random Mission</button> &nbsp;&nbsp; 
                   <button ng-click="clearMission()"; class="btn btn-warning">Clear Mission</button> </th>
                   
                <th scope="col"><b style="color:#D72"></b> <button class="btn btn-warning" ng-click="saveMission()">Save Mission</button></th>
                <th scope="col"><b style="color:#D72"></b> <button class="btn btn-info" ng-click="loadMission()">Load Mission</button></th>
                <th scope="col"><b style="color:#D72">{{uploadstat}}</b> </th>

              
                
                

               
         </thead>
    </table>

        <table id="ss" class="table table-striped table-bordered  table-dark">
          
           <thead >
     
              <tr>
                  <th scope="col"><b style="color:#D72">#</b></th>
                  <th scope="col"><b style="color:#D72">Action</b></th>
                  <th scope="col"><b style="color:#D72">lat</b></th>
                  <th scope="col"><b style="color:#D72">lng</b></th>
                  <th scope="col"><b style="color:#D72">Altitude</b></th>
                  <th scope="col"><b style="color:#D72">Velocity</b></th>
                  <th scope="col"><b style="color:#D72">D2N: {{dtotal}} KM</b></th>
                      <th scope="col"><b style="color:#D72">Option</b></th>
                  <th scope="col"><b style="color:#D72">Option</b></th>
                  
                  

                  <th scope="col"></th>
              </tr>
           </thead>
            <tbody  class="overflow-auto">
              <tr ng-repeat="point in markers" ng-controller="EditController">
                  <td>{{ point.marker.getLabel() }}</td>
                  <td>  <select  ng-model="ModelAction[point.action]"   class="form-control" >
                      <option ng-repeat="m in missionModes" >{{m}}</option>
                     
                    </select></td>
                  <td>{{point.lat}}</td>
                  <td>{{point.lng}}</td>
                 <td  > <input  class="form-control"  ng-model="ModelAltitude[point.alt]" type="text"></td>
                  <td >  <input  class="form-control"  ng-model="ModelVelocity[point.vel]" type="text"> </td>
                  <td>{{ point.d2n }}</td>
                  <td><button class="btn btn-info">Export</button></td>
                  <td><button ng-click="delMarker2(point.marker.getLabel())" class="btn btn-danger">Delete</button></td>
              </tr>
           
         
              
       
      
         
            </tbody>
          </table>
    
    
     
      </span>
      

  


  
  </body>


  
  <script src=".././js/loading.js"></script>
  <script src=".././js/prism.js"></script>
  <script src=".././js/angular.min.js">  </script>
  <script src=".././js/gmaps.js"></script>
<script src="./planner.js">  </script>
</html>